      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        background-color: #055AA3;
        overflow: hidden;
      }
/* 
      .top{
        width: 620px;
        height: 620px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -250px;
        margin-top: -250px;
        background-color: black;
      } */

      .swiper-container {
        width: 80vw;
        height:80vw;
        position: absolute;
        left: 10%;
        top: 10%;
        /* margin-left: -250px;
        margin-top: -250px; */
      }


      .swiper-slide {
        background-position: center;
        background-size: cover;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        backface-visibility: hidden;
      }

      .one{
        width: 100vw;
        height: auto;
        background-image: url('https://cdn.adrino.cloud/adr2021/cubeWedelWithParallax/graphics/cube_1_1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .two{
        width: 100vw;
        height: auto;
        background-image: url('https://cdn.adrino.cloud/adr2021/cubeWedelWithParallax/graphics/cube_1_2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .three{
        width: 100vw;
        height: auto;
        background-image: url('https://cdn.adrino.cloud/adr2021/cubeWedelWithParallax/graphics/cube_1_3.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .four{
        width: 100vw;
        height: auto;
        background-image: url('https://cdn.adrino.cloud/adr2021/cubeWedelWithParallax/graphics/cube_1_4.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
